name: Node Cron Jobs

on:
  schedule:
    - cron: "0 4 * * *"     # 9:30 AM IST
    - cron: "0 9 * * *"     # 2:30 PM IST
    - cron: "41 17 * * *"   # 11:11 PM IST
    - cron: "30 3 * * 0"    # Sunday 9:00 AM IST
    - cron: "30 11 * * 0"   # Sunday 5:00 PM IST

  workflow_dispatch:

jobs:
  run-cron:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run cron runner
        run: node cron-runner.js
